@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {

    align-items: center;
    justify-content: center;
    min-height: 100vh;
    display: flex;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom, #e232b5, #cc3bc0, #b244c9, #954cd0, #7252d4);
}

.container {
    position: relative;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
    padding: 20px 0;
}

.container .card{
    position: relative;
    height: 250px;
    background: white;
    display: flex;
    width: 45%;
    margin: 30px 0;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.205);
}

.container .card .imgbox{
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(255, 0, 0, 0.28);
    backdrop-filter: blur(20px);
    height: calc(100% - 20px);
    height: calc(100% - 20px);
}